#main-nav {
    background-color: rgb(114, 90, 90);
    overflow: hidden;
}

#nav-container {
    float: left;
    width: 100%;
}

#main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    float: left;

}

#main-nav ul li {
    float: left;
    position: relative;
    right: 50%;
    display: block;
}

#main-nav ul li a {
    display: block;
    padding: 10px 20px;
    color: #341d0c;
    text-decoration: none;
}

#main-nav ul li a:hover {
    background-color: #937759;
}

#onpage {
    background-color: rgb(255, 197, 130);
}

body {
    background-color: #113950f8;
    font-family: 'Raleway', 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #725e40b7
  }