#main-nav {
    background-color: rgb(114, 90, 90);
    overflow: hidden;
}

#nav-container {
    float: left;
    width: 100%;
}

#main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    float: left;

}

#main-nav ul li {
    float: left;
    position: relative;
    right: 50%;
    display: block;
}

#main-nav ul li a {
    display: block;
    padding: 10px 20px;
    color: #341d0c;
    text-decoration: none;
}

#main-nav ul li a:hover {
    background-color: #937759;
}

#onpage {
    background-color: rgb(255, 197, 130);
}

body {
    background-color: #ffe6d3f8;
    font-family: 'Raleway', 'Times New Roman', Times, serif;
    color: #435329c9
}

.content {
    max-width: 80%;
    margin: 0 auto;
}

h2 {
    text-align: center;
}

#contact {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

#contact h2 {
    font-weight: lighter;
}

#contact p {
    display: inline;
    text-transform: none;
    font-weight: lighter;
    text-align: center;
    margin: 1%;
}

#summary {
    text-align: center;
}

#education ul {
    text-align: center;
    padding-left: 0;
    list-style:none;
}

#skills ul{
    text-align: center;
    list-style: none;
}

#work {
    text-align: left;
}

#work p {
    font-style: italic;
}

#projects {
    text-align: left;
}

#projects p {
    font-style: italic;
}

#involvment p {
    font-style: italic;
}

#achievements ul{

    list-style-type: upper-roman;

}
